.container {
  width: 100%;
  //max-width: 1584px;
  max-width: 82%;
  //padding: 0 168px;
   margin: 0 auto;

@media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding: 0 16px;
  }
}
