.dropbtn {
 width: 103px;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $color-light;
  background-color: $color;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn:hover, .dropbtn:focus {
 opacity: 0.3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
 overflow:auto;
}

.dropdown-content a {

}

.dropdown-content a:hover {

}

.show {
  display:block;
}


@media (max-width: $mobile-width) {
  .dropbtn {
  font-size: 20px;
  line-height: 24px;
}
}
