.form__info {
  max-width: 356px;
  margin: 0 auto;
  background-color: #4b4b4f;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 126px;
  left: 50%;
  transform: translateX(-46px);
}

.form__info p {
  padding: 12px 30px 7px 25px;
}

@media (max-width: $mobile-width) {
  .form__info {
    max-width: 343px;
    margin: 0 auto;
    background-color: #4b4b4f;
    font-size: 15px;
    line-height: 18px;
    position: static;
    z-index: 10;
    transform: translateX(0);
    left: 50%;
    top: 221px;
  }

  .form__info p {
    padding: 25px 30px 22px 20px;
  }
}
