.form__cargo {
  padding-top: 42px;
}

.form__cargo h2 {
  padding-bottom: 16px;
}

.form__cargo-item:first-child {
  width: 100%;
}

.form__cargo-list {
  width: 23%;
}

.form__cargo-item {
  width: 50%;
  padding-right: 8px;
  padding-bottom: 15px;
}

.form__cargo-item:first-child,
.form__cargo-item:nth-child(4),
.form__cargo-item:nth-child(5) {
  width: 100%;
}

.form__cargo-item:nth-child(1),
.form__cargo-item:nth-child(3) {
  padding-right: 0;
}

.form__cargo-dropbtn {
  background-color: $color-light;
  color: $color;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 13px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.form__cargo-dropbtn:hover,
.dropbtn:focus {
  position: relative;
  color: #cfcfcf;
  z-index: 3;
  border: none;
}

.form__cargo-dropbtn .form__cargo-arrow,
.form__cargo-dropbtn .form__cargo-arrow {
  display: block;
}

.form__cargo-dropbtn .form__cargo-arrow--active:hover,
.form__cargo-dropbtn .form__cargo-arrow--active:focus {
  display: block;
}

.form__cargo-dropbtn .form__cargo-arrow,
.form__cargo-dropbtn .form__cargo-arrow {
  display: none;
}

.form__cargo-dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
}

.form__cargo-content {
  display: none;
  position: absolute;
  background-color: $color-light;
  width: 100%;
  z-index: 5;
}

.form__cargo-content a {
  color: $color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.form__cargo-content a:hover {
  background-color: $color-red;
  color: $color-light;
}

.show .form__cargo-arrow {
  display: none;
}

.checkbox__arrow {
  display: flex;
 position: relative;
  font-size: 13px;
  line-height: 15px;
  border: none;
  background-color: inherit;
  color: $color-light;
  padding-bottom: 4px;
  align-items: center;
}

.form__cargo-item {
  padding-bottom: 11px;
}
.checkbox__arrow::before {
  background-color: $color;
  border: 1px solid #fff;
  margin-right: 11px;
}
.checkbox input:checked + label::after {
  content: "";
  width: 6px;
  height: 10px;
  transform: rotate(40deg);
  background-color: $color-red;
  border-right: 1px solid $color-light;
  border-bottom: 1px solid $color-light;
  margin: 0;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  position: absolute;
  left: 11px;
  top: 5px;
}

.checkbox input:checked + .checkbox__arrow::before {
  background-color: $color-red;
  border: none;
}





//

.form__temperature-list {
 padding-top: 17px;
  display: flex;
  width: 100%;
}

.form__temperature-item {
  padding-right: 8px;
  width: 50%;
}

.form__temperature-content {
display: none;
}

.form__temperature-item:last-child {
  padding-right: 0;
}

.form__temperature-item label {
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 5px;
}

@media (max-width: $mobile-width) {
  .form__cargo-list {
    width: 100%;
  }

  .form__cargo-item:first-child,
  .form__cargo-item:nth-child(5) {
    width: 50%;
  }

  .form__cargo-item:nth-child(1) {
    padding-right: 8px;
  }

  .form__cargo-item:nth-child(2) {
    display: none;
  }

  .form__cargo-item:nth-child(3) {
    padding-right: 0;
  }

  .form__cargo-item:nth-child(4) {
    width: 100%;
    padding-right: 0;
  }

  .checkbox__arrow::before {
    content: "";
    width: 25px;
    height: 25px;
  }

  .form__temperature-list {
    display: flex;
  }

  .form__temperature-item {
    width: 50%;
  }

  .form__temperature-item {
    padding-right: 8px;
  }

  .form__temperature-item:last-child {
    padding-right: 0;
  }
}
