.form__transport {
  padding-top: 23px;
}

.form__transport h2 {
  margin: 0;
  padding-bottom: 15px;
}

.form__transport-list {
  width: 23%;
}

.form__transport-item {
  width: 50%;
  padding-right: 8px;
}

.form__transport-item:last-child {
  padding-right: 0;
}

.form__transport-dropbtn {
  background-color: $color-light;
  color: $color;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 13px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.form__transport-dropbtn:hover,
.dropbtn:focus {
  //position: relative;
  color: #cfcfcf;
  width: 343px;
  border: none;
}

.form__transport-dropbtn.form__transport-arrow:active {
  display: none;
}

.form__transport-dropdown {
  position: relative;
  display: inline-block;
}

.form__transport-content {
  display: none;
  position: absolute;
  background-color: $color-light;
  width: 343px;
  z-index: 1;
}

.form__transport-content a {
  color: $color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.form__transport-content a:hover {
  background-color: $color-red;
  color: $color-light;
}

.show {
  display: block;
}

@media (max-width: $mobile-width) {
  .form__transport-list {
    width: 100%;
  }
}
