html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 375px;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: $font-size;
  font-weight: 400;
  background-color: $color;
  color: $color-light;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $color-light;
  color: $color;
  text-align: center;
  border: none;
  outline: none;
  display: block;

  &:hover,
  &:focus {
    opacity: 0.3;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}

.title-small {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  left: 33px;
}

.title-small::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $color-red;
  border-radius: 50%;
  color: $color-light;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  left: -32px;
}

.form__route .title-small::before {
  content: "1";
}

.form__transport .title-small::before {
  content: "2";
}

.form__cargo .title-small::before {
  content: "3";
}

.form__cargo .title-small::before {
  content: "3";
}

.form__cargo .title-small::before {
  content: "3";
}

.form__time .title-small::before {
  content: "4";
}

.form__list {
  display: flex;
  width: 46%;
  flex-wrap: wrap;
}

input {
  font-size: 15px;
  line-height: 18px;
  min-height: 46px;
}

h2 {
  margin: 0;
  max-width: 200px;
}

.form__item p {
  margin: 0;
  padding-bottom: 6px;
  font-size: 13px;
}

@media (max-width: $mobile-width) {
  .title-small {
    font-size: 20px;
    line-height: 24px;
  }

  .form__list {
    width: 100%;
  }

  .form__item p {
    padding-bottom: 9px;
  }

  select {
    min-height: 45px;
  }
}
