$font-family: "Helvetica", "Arial", sans-serif;

$color: #343539;
$color-light: #ffffff;
$color-red: #ef483f;
$color-grey: #4b4b4f;
$font-size: 14px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width: 1580px;
$mobile-width: 767px;
